.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-height: 60px;
    text-transform: uppercase;
    padding: 5px 0;
    background: $background-blue;
    color: $white;
    font-size: 18px;
}