.header {
    background: $background-blue;
    color: $white;
    @media (max-width: 992px) {
        margin-bottom: 20px;
    }
}

.top-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-height: 60px;
    text-transform: uppercase;
    padding: 5px 0;
    .site-title {
        font-size: 23px;
        @media (max-width: 576px) {
            font-size: 19px;
        }
    }
    .site-desc {
        font-size: 18px;
        @media (max-width: 576px) {
            font-size: 14px;
        }
    }
}