.main {
    flex-grow: 1;
    padding: 120px 0;
    @media (max-width: 768px) {
        padding: 50px 0; 
    }
}

.text-transformations {
    margin-bottom: 40px;
    &__text-wrapper {
        position: relative;
    }
    &__text-label {
        display: block;
        margin-bottom: 14px;
    }
    &__textarea {
        width: calc(270px - 15px);
        height: 200px;
        padding: 5px 30px 5px 5px;
        resize: none;
    }
    &__reset-btn {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 34px;
        right: 0px;
        z-index: 10;
    }
    &__reset-icon {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 35px;
        right: 2px;
        fill: #a7a7a7;
    }
    &__copy-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 40px;
        right: 5px;
        fill: #a7a7a7;
    }
    &__copy-btn {
        position: absolute;
        top: 34px;
        right: 0px;
        z-index: 10;
        width: 30px;
        height: 30px;
    }
    &__form {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }
}

.text-control {
    display: flex;
    flex-direction: column;
    padding: 15px;
    @media (max-width: 768px) {
        order: 0;
    }
    &__btn {
        padding: 10px 30px; 
        margin-bottom: 10px;
        background: $background-blue;
        color: $white;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        outline-color: antiquewhite;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            background: $background-blue-hover;
            @include transition-default;
        }

        &--active {
            background: #19829b;
        }
    }
}

