.main {
    position: relative;
    flex-grow: 1;
    padding: 70px 0;
    @media (max-width: 768px) {
        padding: 50px 0; 
    }
}

.text-transformations {
    margin-bottom: 40px;
    &__title {
        margin-bottom: 40px;
        color: #000;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        @media (max-width: 768px) {
            font-size: 21px;
        }
    }
    &__text-wrapper {
        position: relative;
    }
    &__label-wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        padding: 19px;
        background: #0B4E6A;
        color: #fff;
    }
    &__text-label {
        font-size: 18px;
        font-family: 'Oswald-bold', sans-serif;
    }
    &__textarea {
        width: 456px;
        height: 420px;
        padding: 70px 30px 5px 10px;
        resize: none;
        font-size: 1.2em;
        @media (max-width: 576px) {
            width: 256px;
            height: 220px;
        }
    }
    &__form {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }
    &__btn {
        padding: 10px;
        position: absolute;
        bottom: 34px;
        right: 50%;
        z-index: 10;
        font-size: 18px;
        font-family: 'Oswald-bold', sans-serif;
        background: #0B4E6A;
        color: #fff;
        border-radius: 5px;
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
    }
}

.text-control {
    display: flex;
    flex-direction: column;
    padding: 15px;
    @media (max-width: 768px) {
        order: 0;
    }
    &__btn {
        width: 141px;
        font-family: 'Oswald-bold', sans-serif;
        padding: 10px 30px;
        margin-bottom: 10px;
        background: $background-blue;
        color: $white;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        outline-color: antiquewhite;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            color: #0B4E6A;
            background: #fff;
            border: 1px solid #0B4E6A;
            @include transition-default;
        }

        &--active {
            background: #fff;
            color: #0B4E6A;
            border: 1px solid #0B4E6A;
        }

        &--first-letter {
            text-transform: none;
        }
    }
}

.popup-copy {
    position: fixed;
    right: 0;
    bottom: -999px;
    z-index: 10;
    font-family: 'Oswald-bold', sans-serif;
    padding: 19px;
    background: #0B4E6A;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1.5px;
    @include transition-default;
    &_active {
        bottom: 0;
        @include transition-default;
    }
}

