$color_main: #676767;
$fw-normal: 400;
$fw-bold: 700;
$fw-superbold: 800;
$ff-open-sans: 'Open Sans';
$min-width: 320px;
$max-width-100: 100%;
$background-blue: #4cb2cb;
$background-blue-hover: #3b9cb3;
$white: #fff;
$background-main: #f9f9f9;
$grey: #555;
$light-grey: #c4c4c4;
$green: #00aa00;

@mixin transition-default {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}