$color_main: #676767;
$fw-normal: 400;
$fw-bold: 700;
$fw-superbold: 800;
$ff-open-sans: 'Open Sans';
$min-width: 320px;
$max-width-100: 100%;
$background-blue: #4cb2cb;
$white: #fff;
$background-main: #f9f9f9;