$color_main: #676767;
$fw-normal: 400;
$fw-bold: 700;
$fw-superbold: 800;
$ff-open-sans: 'IBM Plex Serif';
$min-width: 320px;
$max-width-100: 1300px;
$background-blue: #0B4E6A;
$white: #fff;
$black: #000;
$background-main:#E5E5E5;
$grey: #555;
$light-grey: #c4c4c4;

@mixin transition-default {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}