@import "_variables.scss";
@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";

html {
	box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    color: $color_main;
    min-width: $min-width;
    font: 14px/1.4 'IBMPlexSerif', serif;
    letter-spacing: 1px;
    background: $background-main;
}

@font-face {
    font-family: "IBMPlexSerif";
    src: url("../fonts/IBMPlexSerif-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexSerif-Bold";
    src: url("./fonts/IBMPlexSerif-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }


@font-face {
    font-family: "Oswald-Bold";
    src: url("../fonts/Oswald-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

ul, li {
	list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

h2 {
    font-weight: normal;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: $max-width-100;
    padding: 0 10px;
    margin: 0 auto;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

a {
    color: $color_main;
}

label {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}